.modal-backdrop {
  position: relative;

  &.show {
    opacity: 0;
    z-index: 1;
  }
}

.menu-bottom {
  z-index: 10;

  .right-menu {
    background-color: $maim-color;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    position: relative;

    .chat {
      padding: 0.3rem;

      .btn {
        position: relative;

        &:focus {
          box-shadow: none;
        }

        i {
          color: $main-font-color;
          font-size: 2rem;
        }

        .unread-message {
          background-color: $primary-color;
          color: $main-font-color;
          font-size: 0.8rem;
          font-weight: 600;
          padding: 0 0.4rem;
          text-align: center;
          position: absolute;
          bottom: -2%;
          right: -15%;
        }
      }

    }
  }
}
.modal-content {
  width: 30%;
  height: 100vh;
  overflow-y: auto;
  .modal-body {
    .messages {
      width: 70%;
      margin-bottom: 1rem;

      .name {
        color: $font-color;
        font-size: 0.7rem;
        padding-left: 1rem;
        margin-bottom: 0;
      }

      .message-text {
        background-color: $primary-color;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0.5rem 1rem;
        color: $main-font-color;
        font-size: 0.9rem;
        width: 100%;
      }

      .time {
        color: $font-color;
        font-size: 0.7rem;
        margin-left: 0.5rem;
        margin-bottom: 1rem;
      }
    }

    .my-messages {
      width: 70%;
      margin-bottom: 1rem;

      .message-text {
        background-color: $secondary-color;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 0.5rem 1rem;
        color: $main-font-color;
        font-size: 0.9rem;
        width: 100%;
      }

      .time {
        color: $font-color;
        font-size: 0.7rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}