.full-screen-player .user-avatar {
  width: 200px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}
.full-screen-player .user-name {
  left: 44%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgba(156, 41, 183, 0.8);
  text-align: center;
  color: #fff;
  width: 12%;
  padding: 0.25rem 0;
  font-size: 1.2rem;
}

.participants-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100vh;
  overflow-y: auto;
  border: none;
  border-radius: 0;
  background-color: rgba(214, 214, 214, 0.7);
  padding: 1.25rem;
}
.participants-content::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1200px) {
  .participants-content {
    width: 25%;
  }
}
.participants-content .player {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.participants-content .player .user-name {
  top: 0;
  left: 0;
  width: 25%;
  background-color: rgba(156, 41, 183, 0.8);
  color: #fff;
  text-align: center;
}
.participants-content .player .user-name .btn:focus {
  box-shadow: none;
}
.participants-content .player .user-name .resize {
  border: none;
}
.participants-content .player .user-avatar {
  width: 150px;
  height: 150px;
}
.participants-content .player .user-avatar img {
  width: 60%;
  padding-top: 1.1rem;
}

.menu-bottom {
  flex-wrap: nowrap;
}
.menu-bottom .right-menu, .menu-bottom .center-menu, .menu-bottom .left-menu {
  background-color: rgba(66, 66, 66, 0.7);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  position: relative;
  padding: 0.3rem;
}
.menu-bottom .right-menu .btn, .menu-bottom .center-menu .btn, .menu-bottom .left-menu .btn {
  position: relative;
}
.menu-bottom .right-menu .btn:focus, .menu-bottom .center-menu .btn:focus, .menu-bottom .left-menu .btn:focus {
  box-shadow: none;
}
.menu-bottom .right-menu .btn i, .menu-bottom .center-menu .btn i, .menu-bottom .left-menu .btn i {
  color: #fff;
  font-size: 2rem;
}
.menu-bottom .right-menu .btn i.fa-record-vinyl, .menu-bottom .center-menu .btn i.fa-record-vinyl, .menu-bottom .left-menu .btn i.fa-record-vinyl {
  color: #ff5722;
}
.menu-bottom .right-menu .btn.on-record i, .menu-bottom .center-menu .btn.on-record i, .menu-bottom .left-menu .btn.on-record i {
  color: #7ddf0b;
}
.menu-bottom .right-menu .btn .unread-message, .menu-bottom .center-menu .btn .unread-message, .menu-bottom .left-menu .btn .unread-message {
  background-color: #17c6ac;
  border-color: #17c6ac !important;
  color: #fff;
  font-size: 0.6rem;
  font-weight: 600;
  line-height: 2;
  width: 1.45rem;
  text-align: center;
  position: absolute;
  bottom: -5%;
  right: -15%;
}
.menu-bottom .left-menu {
  margin-left: 4.5rem;
}
.menu-bottom .right-menu {
  margin-right: 4.5rem;
}

.tooltip .tooltip-inner {
  background-color: #17c6ac;
  color: #fff;
  border-radius: 20px;
  font-size: 0.7rem;
}
.tooltip .arrow {
  display: none;
}

.modal-content {
  width: 45%;
  height: 100vh;
  overflow-y: auto;
  border: none;
  border-radius: 0;
  background-color: rgba(214, 214, 214, 0.7);
  padding-bottom: 5rem;
  position: absolute;
  top: 0;
}
@media (min-width: 1200px) {
  .modal-content {
    width: 25%;
  }
}
.modal-content .modal-body {
  overflow-y: auto;
  margin-bottom: 3.9rem;
}
.modal-content .modal-body::-webkit-scrollbar {
  display: none;
}
.modal-content .modal-body .messages {
  width: 70%;
  margin-bottom: 0.3rem;
}
.modal-content .modal-body .messages .name {
  color: #606060;
  font-size: 0.7rem;
  padding-left: 1rem;
  margin-bottom: 0;
}
.modal-content .modal-body .messages .message-text {
  background-color: #17c6ac;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 0.9rem;
  width: 100%;
}
.modal-content .modal-body .messages .time {
  color: #606060;
  font-size: 0.7rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.modal-content .modal-body .my-messages {
  width: 70%;
  margin-bottom: 0.3rem;
}
.modal-content .modal-body .my-messages .message-text {
  background-color: #9c29b7;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 0.9rem;
  width: 100%;
}
.modal-content .modal-body .my-messages .time {
  color: #606060;
  font-size: 0.7rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
.modal-content .modal-footer {
  position: fixed;
  bottom: 5rem;
  width: 45%;
  border: none;
}
@media (min-width: 1200px) {
  .modal-content .modal-footer {
    width: 25%;
  }
}
.modal-content .modal-footer .message-entry {
  width: 100%;
}
.modal-content .modal-footer .message-entry .emojionearea {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #9c29b7;
  height: 2.5rem;
}
.modal-content .modal-footer .message-entry .emojionearea.focused {
  box-shadow: none;
}
.modal-content .modal-footer .message-entry .emojionearea .emojionearea-picker {
  left: 0;
}
.modal-content .modal-footer .message-entry .emojionearea .emojionearea-button {
  left: 3%;
  top: 15%;
}
.modal-content .modal-footer .message-entry .emojionearea .emojionearea-editor {
  left: 15%;
  color: #606060;
}
.modal-content .modal-footer .message-entry .emojionearea .emojionearea-button > div, .modal-content .modal-footer .message-entry .emojionearea .emojionearea-picker .emojionearea-wrapper:after {
  background-image: url(../images/smile.svg) !important;
  background-size: contain;
}
.modal-content .modal-footer .message-entry .upload {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  width: 2.2rem;
  height: 2rem;
  text-align: center;
  margin-top: 0.25rem;
}
.modal-content .modal-footer .message-entry .upload.border {
  border-color: #9c29b7 !important;
}
.modal-content .modal-footer .message-entry .upload .btn {
  padding: 0;
}
.modal-content .modal-footer .message-entry .upload .btn i {
  color: #9c29b7;
  font-size: 1rem;
}
.modal-content .modal-footer .message-entry .upload input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#screen-share-modal, #leave-modal, #invite-modal {
  position: absolute;
  bottom: 15%;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
}
#screen-share-modal p, #leave-modal p, #invite-modal p {
  font-size: 1.1rem;
}
@media (max-width: 1200px) {
  #screen-share-modal p, #leave-modal p, #invite-modal p {
    font-size: 0.9rem;
  }
}
#screen-share-modal .btn, #leave-modal .btn, #invite-modal .btn {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.2;
}
#screen-share-modal .btn:focus, #leave-modal .btn:focus, #invite-modal .btn:focus {
  box-shadow: none;
}
#screen-share-modal .btn.success, #leave-modal .btn.success, #invite-modal .btn.success {
  border: 1.5px solid #17c6ac;
  color: #17c6ac;
}
#screen-share-modal .btn.success:hover, #leave-modal .btn.success:hover, #invite-modal .btn.success:hover {
  background-color: #17c6ac;
  color: #fff;
}
#screen-share-modal .btn.danger, #leave-modal .btn.danger, #invite-modal .btn.danger {
  border: 1.5px solid #9c29b7;
  color: #9c29b7;
}
#screen-share-modal .btn.danger:hover, #leave-modal .btn.danger:hover, #invite-modal .btn.danger:hover {
  background-color: #9c29b7;
  color: #fff;
}

#screen-share-modal {
  left: 3%;
}

#leave-modal {
  right: 3%;
}

#invite-modal {
  width: 13%;
  right: 7%;
}
#invite-modal .invite-icons {
  width: 20%;
  margin-right: 0.5rem;
}
#invite-modal .leave-link {
  color: #9c29b7;
}

.menu-bottom .left-menu form {
  width: 35rem;
}
.menu-bottom .left-menu form .form-group {
  width: 80%;
  margin-right: 1.5rem;
}
.menu-bottom .left-menu form .form-group .form-control {
  border-radius: 20px;
  background-color: rgba(174, 174, 174, 0.7);
  border-color: rgba(174, 174, 174, 0.7);
  padding-left: 1.3rem;
  color: #fff;
}
.menu-bottom .left-menu form .form-group .form-control:focus {
  box-shadow: none;
}
.menu-bottom .left-menu form .form-group .form-control::placeholder {
  color: #fff;
}
.menu-bottom .left-menu form .btn {
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 0.25rem 1.2rem;
}
.menu-bottom .left-menu form .btn:hover {
  background-color: #fff;
  color: rgba(66, 66, 66, 0.7);
}

.main-screen {
  z-index: 0;
}
.main-screen .resize {
  background-color: rgba(156, 41, 183, 0.8);
  border-radius: 0;
  border-top-left-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0.5rem;
}
.main-screen .resize.btn:focus {
  box-shadow: none;
}
.main-screen .resize:hover {
  background-color: #17c6ac;
}

.participants-content {
  width: 17%;
  bottom: 15%;
  right: 3%;
  top: auto;
  height: auto;
}
.participants-content .participant-user {
  margin-bottom: 1.25rem;
}
.participants-content .participant-user .participant-date {
  color: #9c29b7;
  font-size: 1.1rem;
}
.participants-content .participant-user .participant-date .user-icon {
  font-size: 0.9rem;
  padding: 0.4rem;
  color: #fff;
  background-color: #9c29b7;
  margin-right: 1.1rem;
}

.progress {
  transform: rotate(-90deg);
  width: 40px;
  height: 8px;
}

/*# sourceMappingURL=main.css.map */
