$maim-color: rgba(66, 66, 66, 0.7);
$primary-color: #17c6ac;
$secondary-color: #9c29b7;
$button-background-color: rgba(156, 41, 183, 0.8);
$main-font-color: #fff;
$font-color: #606060;

@import "videoconference", "bottom-menu","webinar-student";