.resize {
  @include resize;
  right: 0;
}
.player {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;

  .user-name {
    @include user-name;
    top: 0;
    left: 0;
    min-width: 25%;

    .btn:focus {
      box-shadow: none;
    }

    .top-resize {
      display: none;
    }
  }

  .user-avatar {
    @include user-avatar;
  }

  &.fullscreen {
   @include fullscreen;
  }
}

