.full-screen-player {
  .user-avatar {
    @include user-avatar;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
  }

  .user-name {
    @include user-name;
    left: calc(50% - 7.5%);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    min-width: 15%;
    padding: 0.25rem 0;
    font-size: 1.2rem;
  }
}


.participants-content-main {
  @include participants;
  top: 0;
  right: 0;
  width: 45%;
  height: 100vh;
  overflow-y: auto;

  .player {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;

    .user-name {
      @include user-name;
      top: 0;
      left: 0;
      min-width: 25%;

      &:hover {
        background-color: $primary-color;
      }

      .btn:focus {
        box-shadow: none;
      }

      .resize {
        border: none;
        background-color: transparent;
      }
    }

    .user-avatar {
      @include user-avatar;
    }
    &.fullscreen {
      z-index: -10;
      visibility: visible;
      .resize {
        background-color: transparent;
      }
    }
  }

  @media (min-width: 1200px) {
    width: 25%;
  }
}

