.full-screen-player {
  .user-avatar {
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
  }

  .user-name {
    left: 44%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: $button-background-color;
    text-align: center;
    color: $main-font-color;
    width: 12%;
    padding: 0.25rem 0;
    font-size: 1.2rem;
  }
}

.participants-content {
  position: absolute;
  right: 0;
  width: 45%;
  height: 100vh;
  overflow-y: auto;
  border: none;
  border-radius: 0;
  background-color: rgba(214, 214, 214, 0.7);
  padding: 1.25rem;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 1200px) {
    width: 25%;
  }

  .player {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;

    .user-name {
      top: 0;
      left: 0;
      width: 25%;
      background-color: $button-background-color;
      color: $main-font-color;
      text-align: center;
      .btn:focus{
        box-shadow: none;
      }
      .resize {
        border: none;
      }
    }

    .user-avatar {
      width: 150px;
      height: 150px;

      img {
        width: 60%;
        padding-top: 1.1rem;;
      }
    }
  }
}